<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" >
<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <b class="text-danger">Create Schema</b>
      </ng-template>
      <app-create-schema></app-create-schema>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <b class="text-danger">Create Credential Definition</b>
      </ng-template>
      <app-create-credential-definition></app-create-credential-definition>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <b class="text-danger">Send Credential Offer</b>
        </ng-template>
        <app-send-credential-offer></app-send-credential-offer>
      </mat-tab>
  </mat-tab-group>
  </div>
  </div>
  </div>
  </div>