<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Create Credential Definition</h4>
      <p class="card-category"></p>
    </div>
    <div class="card-body">
      <form [formGroup]="createCreadentialDef">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Select Schema</mat-label>
              <mat-select formControlName="schema" [(ngModel)]="schema">
                <mat-option *ngFor="let sch of schemas" [value]="sch.id">{{sch.name}}:{{sch.version}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Schem tag" type="text" formControlName="tag">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button type="submit" (click)="create_Cred_Def()" class="btn btn-danger pull-right">Create Credential Definition</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>