<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor = "let certificate of certificates">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <mat-icon svgIcon="certificate"></mat-icon>
                        </div>
                        <p class="card-category">{{certificate.title}}</p>
                        <h3 class="card-title">49
                            <small>K</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="offset-lg-3 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Certificate Title</h4>
                        <p class="card-category">E-IDENTITY</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>