<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Send Credential Offer</h4>
      <p class="card-category"></p>
    </div>
    <div class="card-body">
      <form [formGroup]="createCreadentialOffer">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Relationship</mat-label>
              <mat-select formControlName="relation">
                <mat-option *ngFor="let rel of relationships" [value]="rel.their_did">{{rel.metadata.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Select Credential Definition</mat-label>
              <mat-select formControlName="cred_def" [(ngModel)]="selectedCred" (ngModelChange)="loadAttributes()">
                <mat-option *ngFor="let cred of credentialDefinitions" [value]="cred.id">{{cred.tag}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let attr of attributes" class="col-md-4">
            <div [ngSwitch]="attr.metadata.type" class="col-md-12">
              <mat-form-field *ngSwitchCase="'textbox'">
                <input matInput [placeholder]="attr.name" [formControlName]="attr.name">
              </mat-form-field>
              <mat-form-field *ngSwitchCase="'list'">
                <mat-label>{{attr.name }}</mat-label>
                <mat-select [formControlName]="attr.name">
                  <mat-option *ngFor="let op of attr.metadata.options" [value]="op.value">{{op.value}}</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field *ngSwitchDefault>
                <input matInput placeholder="Default" [formControlName]="attr.name">
              </mat-form-field> -->
            </div>
          </div>
        </div>
        <button mat-raised-button type="submit" (click)="sendCredOffer()" class="btn btn-danger pull-right">Create
          Credential Definition</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>