               <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Personal Info</h4>
                        <p class="card-category">User Profile</p>
                    </div>
                    <div class="card-body">
                        <form  [formGroup]="addForm">
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Identitifier " disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <button mat-icon-button matTooltip="Generate DID" (click)= "generateID()">
                                        <mat-icon aria-label="generate did">fingerprint</mat-icon>
                                      </button>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Username" formControlName="username">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email address" type="email" formControlName="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Fist Name" type="text" formControlName="fname">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" type="text" formControlName="lname">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" placeholder="DOB"  formControlName="date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker disabled="false" ></mat-datepicker>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Adress" type="text" formControlName="address">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="gender" (ngModelChange)="onCity($event)" >
                                          <mat-option>--</mat-option>
                                          <mat-option *ngFor="let gender of genders" [value]="gender">
                                            {{gender}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>City</mat-label>
                                        <mat-select formControlName="city" (ngModelChange)="onCity($event)" >
                                          <mat-option>--</mat-option>
                                          <mat-option *ngFor="let city of cities" [value]="city">
                                            {{city.city}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Province" type="text" formControlName="province" [value]="_province">
                                    </mat-form-field>
                                  </div>
                                  
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Country" type="text" formControlName="country" [value]="_country" >
                                  </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Religion</mat-label>
                                        <mat-select formControlName="religion" >
                                          <mat-option>--</mat-option>
                                          <mat-option *ngFor="let religion of religions" [value]="religion">
                                            {{religion}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                    <mat-label>Profession</mat-label>
                                    <mat-select formControlName="profession" >
                                      <mat-option>--</mat-option>
                                      <mat-option *ngFor="let profession of professions" [value]="profession">
                                        {{profession}}
                                      </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                  </div>
                                  
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Country" type="text" formControlName="country" >
                                  </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <label>About Me</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo." formControlName="description"></textarea>
                                   </mat-form-field>
                                    <!-- <div class="form-group">
  
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"  (click)="registerUser()">Save Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
       

