<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Chaincode Name" [(ngModel)]="data.chaincodeName">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Path</mat-label>
                        <mat-select [(value)]="data.chaincodePath">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let path of paths" [value]="path">{{path}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Chaincode Version" [(ngModel)]="data.chaincodeVersion">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Chaincode Type</mat-label>
                        <mat-select [(value)]="data.chaincodeType">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Peers</mat-label>
                        <mat-select [formControl]="peers" [(value)]="data.peers" multiple>
                            <mat-option *ngFor="let peer of peersList" [value]="peer">{{peer}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-danger" (click)="onNoClick()">Cancel</button>
    <button mat-button class="btn btn-danger" (click)="installChaincode()" cdkFocusInitial>Install</button>
</div>