<div class="col-md-12">
  <div class="col-md-12">
      <mat-form-field>
          <mat-label>Peers</mat-label>
          <mat-select formControlName="peers">
            <mat-option>--</mat-option>
            <mat-option>fabric-peer-org1</mat-option>
          </mat-select>
        </mat-form-field>

    <button mat-raised-button class="btn btn-danger" id="installCC" (click)="checkClick()">
      <mat-icon svgIcon="arrow-down-bold-box-outline"></mat-icon> Install Chaincode</button>
  </div>


  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CODE ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> VERSION </th>
      <td mat-cell *matCellDef="let element"> {{element.version}} </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button><i class="material-icons">add_box</i> </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>