node_modules
artifacts/logs
Tests/block*.txt
logs
package-lock.json
.DS_Store
#artifacts/docker-compose.yaml
#artifacts/crypto-config/
#artifacts/channel/*.block
#artifacts/channel/*.tx

public/admin-panel/node_modules
indy-ui/node_modules
explorer/node_modules
explorer/client/node_modules
artifacts/src/github.com/birth/node_modules
artifacts/src/github.com/marriage/node_modules
artifacts/src/github.com/nationalid/node_modules