<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <mat-tab-group>
        <mat-tab label="Members">
          <ng-template mat-tab-label>
            <mat-icon class="text-danger example-tab-icon" matTooltip="Members" class="text-danger">group</mat-icon>
          </ng-template>
          <app-list-members></app-list-members>
        </mat-tab>
        <mat-tab label="CA">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" matTooltip="CA" class="text-danger">card_giftcard</mat-icon>
          </ng-template>
          <app-manage-members></app-manage-members>
        </mat-tab>
        <mat-tab label="Channel">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" matTooltip="Channels" class="text-danger">settings_input_component
            </mat-icon>
          </ng-template>
          <app-managechannels></app-managechannels>
        </mat-tab>
        <mat-tab label="Notification">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" matTooltip="Notifications" class="text-danger">notifications</mat-icon>
          </ng-template>
          <app-manage-notifications></app-manage-notifications>
        </mat-tab>
        <mat-tab label="Chaincode">
          <ng-template mat-tab-label>
            <mat-icon class="text-danger example-tab-icon" matTooltip="Chaincode">dvr</mat-icon>
          </ng-template>
          <app-list-chaincode></app-list-chaincode>
        </mat-tab>
        <mat-tab label="Peers">
          <ng-template mat-tab-label>
            <mat-icon class="text-danger example-tab-icon" svgIcon="lan-pending" matTooltip="Peers"></mat-icon>
          </ng-template>
          <app-list-peers></app-list-peers>
        </mat-tab>

      </mat-tab-group>

    </div>
  </div>
</div>