<div fxLayout="row">
    <mat-drawer-container>
        <mat-drawer #snav [mode]="'side'">
           
        </mat-drawer>

        <mat-drawer-content>
            <mat-card>
                <mat-card-title>Login</mat-card-title>
                <mat-card-content>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <p>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input type="text" matInput formControlName="username">
                                <mat-icon matPrefix>person</mat-icon>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-icon matPrefix>vpn_key</mat-icon>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field>
                                <mat-label>Organization Name</mat-label>
                                <input matInput [type]="text" formControlName="orgName">
                            </mat-form-field>
                        </p>

                        <div class="button">
                            <button [disabled]="loading" mat-raised-button color="warn">Login</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </mat-drawer-content>
    </mat-drawer-container>
</div>