<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-md-9">
          <div class="col-md-9">
            <span class="heading">Name:</span><span class="detail">Muhammad Salman</span>
          </div>
          <div class="col-md-9">
              <span class="heading">Father Name:</span><span class="detail">Muhammad Saleem</span>
          </div>
          <div class="col-md-9">
              <span class="heading">Mother Name:</span><span class="detail">Syedan Bibi</span>
          </div>
          <div class="col-md-9">
              <span class="heading">Age:</span><span class="detail">21</span>
          </div>
          <div class="col-md-9">
              <span class="heading">Gender:</span><span class="detail">Male</span>
          </div>
          <div class="col-md-9">
              <span class="heading">Religion:</span><span class="detail">Islam</span>
          </div>
          <div class="col-md-9">
              <span class="heading">Profession:</span><span class="detail">Student</span>
          </div>
          <div class="col-md-9">
              <span class="heading">Status:</span><span class="detail">Unmarried</span>
          </div>
          <div class="col-md-9">
              <span class="heading">City:</span><span class="detail">Lahore</span>
          </div>
          <div class="col-md-9">
              <span class="heading">Address:</span><span class="detail">Umer Khan Road Manawan Lahore</span>
          </div>

        </div>
        <div class="col-md-3">
          <img mat-card-image src="/assets/img/myimg.jpg" alt="Not Available">
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-danger" (click)="onNoClick()">Close</button>
</div>