 <div class="col-md-12">
                              <mat-form-field>
                                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              
                                  <!-- Position Column -->
                                  <ng-container matColumnDef="did">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.did}} </td>
                                  </ng-container>
                                
                                  <!-- First Name Column -->
                                  <ng-container matColumnDef="fname">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
                                  </ng-container>
                                
                                  <!-- Last Name Column -->
                                  <ng-container matColumnDef="lname">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                                      <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
                                    </ng-container>
              
                                    <!-- Age Column -->
                                  <ng-container matColumnDef="age">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                                      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                                    </ng-container>
              
                                     <!-- Gender Column -->
                                  <ng-container matColumnDef="gender">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                                      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                                    </ng-container>
              
                                     <!-- Religion Column -->
                                  <ng-container matColumnDef="religion">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Religion </th>
                                      <td mat-cell *matCellDef="let element"> {{element.religion}} </td>
                                    </ng-container>
              
                                  <!-- Street Column -->
                                  <ng-container matColumnDef="street">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
                                    <td mat-cell *matCellDef="let element"> {{element.street}} </td>
                                  </ng-container>
                                
                                  <!-- District Column -->
                                  <ng-container matColumnDef="district">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
                                    <td mat-cell *matCellDef="let element"> {{element.district}} </td>
                                  </ng-container>
              
                                  <!-- Division Column -->
                                  <ng-container matColumnDef="division">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
                                      <td mat-cell *matCellDef="let element"> {{element.division}} </td>
                                    </ng-container>
              
                                     <!-- City Column -->
                                  <ng-container matColumnDef="city">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                                      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                                    </ng-container>
              
                                    <!-- Province Column -->
                                  <ng-container matColumnDef="province">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Province </th>
                                      <td mat-cell *matCellDef="let element"> {{element.province}} </td>
                                    </ng-container>
              
                                    <!-- Family Number Column -->
                                  <ng-container matColumnDef="familyNumber">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Family# </th>
                                      <td mat-cell *matCellDef="let element"> {{element.familyNumber}} </td>
                                    </ng-container>
                                
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                   
        </div>

        
   
  