<app-sidebar *ngIf='islogged'>
    <router-outlet></router-outlet>
</app-sidebar>
<mat-toolbar color="primary" *ngIf='!islogged'>
    <mat-toolbar-row>
        <button mat-icon-button fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <span>IMS</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>

            <a routerLink="/login" mat-button [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Login</a>
            <a routerLink="/register" mat-button [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Register</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row" >
    <router-outlet></router-outlet>
</div>