<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <mat-tab-group>
        <mat-tab label="View All">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" matTooltip="View All">view_list</mat-icon>
          </ng-template>
          <app-list-birth></app-list-birth>
        </mat-tab>
        <mat-tab label="Add New">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" matTooltip="Add New">add_box</mat-icon>
          </ng-template>
          <app-add-birth></app-add-birth>
        </mat-tab>
        <mat-tab label="Update">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" matTooltip="Update">update</mat-icon>
          </ng-template>
          <app-update-birth></app-update-birth>
        </mat-tab>

      </mat-tab-group>

    </div>
  </div>
</div>