<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let credential of credentials">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <mat-icon svgIcon="certificate"></mat-icon>
            </div>
            <p class="card-category">{{credential.schema_id.split(':')[2]}}</p>
            <small class="card-title">
              <button mat-icon-button (click)="selectCert(credential.referent)">
                <mat-icon>visibility</mat-icon>
              </button>
            </small>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">vpn_key</i>
              {{credential.schema_id.split(':')[2]}}:{{credential.schema_id.split(':')[3]}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="isSelected">
      <div class="offset-lg-4 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{selected.schema_id.split(':')[2]}}:{{selected.schema_id.split(':')[3]}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="http://www.sclance.com/pngs/college-png/college_png_300669.jpg">
          <mat-card-content>
            <p>
              <mat-list>
                <mat-list-item *ngFor="let key of credential_keys">
                  <p mat-line></p>
                  <p mat-line><b>{{(key)}}:</b>{{credential_parsed[key]}}</p>
                </mat-list-item>
              </mat-list>
            </p>
          </mat-card-content>
          <mat-card-actions>

          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </div>
</div>