<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <mat-tab-group>
        <mat-tab label="View All">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" matTooltip="View All">view_list</mat-icon>
          </ng-template>
          <app-list-families></app-list-families>
        </mat-tab>
        <mat-tab label="Add New">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" matTooltip="View Family Tree">device_hub</mat-icon>
          </ng-template>
          <app-family-tree></app-family-tree>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>